* {
  box-sizing: border-box;
}

.calendar {
  width: 80%;
  min-height: 95%;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 66px;

  background-color: #ffc600;
  color: white;

  font-size: 25px;
}

.calendar-days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.calendar-day {
  /* https://stackoverflow.com/a/25311805/4035 */
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: calc((100% / 7));
  height: 33px;
  text-align: center;
}

.calendar-body {
  display: flex;
  flex-direction: row;
}
